@keyframes slide-down {
  from {
    height: 0;
  }
  to {
    height: 150px;
  }
}
@keyframes slide-up {
  from {
    height: 150px;
  }
  to {
    height: 0;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App,
body,
#root,
.dashboard {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Fira Mono', monospace;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ================================================ */
/* LOGIN/REGISTER STYLES */
/* ================================================ */
.landingPage {
  background-image: url('./images/dash.jpeg');
  background-size: cover;
  background-position: 72%;
  background-attachment: fixed;
  color: black;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.landingPage ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  width: 70%;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

.landingPage a {
  color: black;
}

.homeForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
}

.homeForm input {
  width: 50%;
  margin: 5px;
  border-radius: 5px;
}

/* ================================================ */
/* DASHBOARD STYLES */
/* ================================================ */

.dashboard {
  background-color: #f7f7f7;
  /* display: flex; */
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  color: black;
}

a {
  text-decoration: none;
  color: #ffffff;
}

/* ================================================ */
/* HEADER STYLES */
/* ================================================ */
header {
  display: flex;
  text-shadow: 0 1px 1px #000000;
  color: white;

  flex-wrap: wrap;
  width: 100%;
}

.top-bar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.top-bar input,
.top-bar button {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
}

.top-bar input:hover {
  cursor: pointer;
}

.top-bar h1 {
  width: 50%;
}
.clock {
  width: 50%;
}

.tiles {
  width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: space-evenly;
  flex-wrap: wrap;
}

h1 {
  margin: 0 0 5px 0;
  width: 100%;
  max-height: 50px;
}

#settingsbtn {
  color: black;
  border-radius: 10px;
}

/* ================================================ */
/* CLOCK */
/* ================================================ */
.clock {
  width: 100%;
  /* background-color: #adfeec; */
  align-items: center;
}

.clock h2,
.clock h3 {
  width: 100%;
}

/* ================================================ */
/* SETTINGS */
/* ================================================ */
.settings {
  /* min-height: 100vh; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}

.settingsNav {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
}

.settingsNav li {
  padding: 5px 0;
  background-color: rgba(170, 170, 170, 0.8);
  width: 90%;
  border-radius: 10px;
  margin: 1px auto;
}

.editSettings {
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  align-items: center;
  min-height: 300px;
}

.editSettings form {
  display: inherit;
  flex-direction: column;
  text-align: start;
  width: 60%;
  border-radius: 5px;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.7);
  color: #000000;
  padding: 10px;
}

.editSettings input {
  margin: 5px;
  border-radius: 5px;
}

/* ================================================ */
/* MAIN TILES */
/* ================================================ */

.notepad,
.todos,
.weather,
.news,
.newComp {
  color: black;
  text-shadow: none;
  min-height: 300px;
  width: 96%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 5px;
  padding: 10px 0;
  border-radius: 5px;
  background-color: rgb(252, 228, 150);
  opacity: 0.9;
}

/* .notepad:hover,
.todos:hover,
.weather:hover {
  cursor: move;
} */

/* ================================================ */
/* NOTEPAD */
/* ================================================ */
h2 {
  margin: 5px 0;
}

.note-list {
  width: 100%;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.note-list li {
  padding: 5px;
  margin: 2px 0;
  display: inherit;
  justify-content: space-between;
  border-radius: 10px;
  background-color: rgb(254, 246, 204);
  min-width: 50%;
  max-width: 90%;
}

.note-list div {
  display: inline;
  position: static;
  right: 20%;
  /* background-color: #f2f2f2; */
  color: red;
}

.note-list li:hover {
  cursor: pointer;
}

.editor {
  width: 100%;
}
.editor form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editor input {
  width: 50%;
  margin: 5px 0;
  border-radius: 5px;
  background-color: rgb(255, 250, 228);
}

.editor textarea {
  min-width: 50%;
  max-width: 90%;
  border-radius: 5px;
  background-color: rgb(254, 246, 204);
}

/* ================================================ */
/* TODOS */
/* ================================================ */
.todos {
  background-color: rgb(182, 231, 254);
}

.todos h2,
.notepad h2 {
  width: 100%;
  margin-bottom: 0;
}
.todos p,
.notepad p {
  margin: 0;
}

.todo-list {
  width: 100%;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-list li {
  padding: 5px;
  margin: 2px 0;
  width: 80%;
  display: inherit;
  justify-content: space-between;
  word-wrap: break-word;
  background-color: rgb(247, 252, 255);
  border-radius: 10px;
}

.checkbox {
  outline: 1px solid black;
  width: 15px;
}

.todo-list li:hover {
  cursor: pointer;
}

.todo-form {
  min-width: 50%;
}

.todo-form input {
  width: 100%;
  padding: 3px;
  margin: 2px 0;
  border-radius: 5px;
}

/* ================================================ */
/* WEATHER */
/* ================================================ */
.weather {
  background-color: #f2f2f2;
  display: flex;
  align-items: flex-start;
}

.weather-info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  /* min-height: 100%; */
}

.weather h2 {
  max-height: 50px;
  width: 100%;
}

.weather-list {
  width: 100%;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-list li {
  padding: 5px;
  margin: 2px 0;
  width: 50%;
  background: #ffffff;
  border-radius: 10px;
}

.weather img {
  width: 75px;
}

/* ================================================ */
/* NEWS */
/* ================================================ */
.news {
  background-color: #aaaaaa;
  padding: 10px;
  display: flex;
}

.news h2 {
  width: 80%;
}

.news-list {
  max-width: 95%;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.news-list li {
  margin: 2px;
  background-color: #eef5fa;
  border-radius: 10px;
  padding: 0 5px;
  font-size: 14px;
}

.news-list li:hover {
  transform: scale(1.03);
  transition: transform 0.25s;
}

.news-list a {
  text-decoration: none;
  color: black;
}

.news-nav {
  width: 95%;
  display: none;
  /* display: flex; */
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
  /* color: white; */
  text-shadow: 0 0 5px white;
  background-color: #b5b5b5;
  border-radius: 5px;
}

.news-nav li {
  padding: 10px 2px;
  font-size: 8px;
}

.news-nav li:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.25s;
  background-color: #aaaaaa;
}

.news-nav li:active {
  background-color: #aaaaaa;
}

.mobileNewsNav {
  padding: 0;
  list-style-type: none;
  width: 70%;
  height: 0px;
  border-radius: 5px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  margin: 0;
}

.menuClick {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 5%;
}

.animate-open {
  animation: slide-down 1s ease-in-out;
  height: 150px;
}
.animate-close {
  animation: slide-up 1s ease-in-out;
  height: 0;
}

.mobileNewsNav li {
  width: 50%;
}

.mobileNewsNav li:hover {
  cursor: pointer;
}

/* ================================================ */
/* New Component */
/* ================================================ */
.newComp {
  background-color: aliceblue;
}

/* ================================================ */
/* MEDIA QUERIES */
/* ================================================ */

@media screen and (min-width: 500px) {
  .news-nav li {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  .notepad,
  .todos,
  .weather {
    width: 30%;
  }

  .mobileNewsNav {
    display: none;
  }

  .menuClick {
    display: none;
  }

  .news-nav {
    display: flex;
  }
}

@media screen and (min-width: 900px) {
  .news {
    width: 58%;
  }

  .newComp {
    width: 35%;
  }

  .news-nav li {
    font-size: 12px;
  }
}
